<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
</listeners>


  <test thread-count="5" name="Test">
    <classes>
      
      <class name="testngDemo.FirstScenario4"/>
      <class name="testngDemo.FirstScenario5"/>
      <class name="testngDemo.FirstScenario2"/>
      <class name="testngDemo.FirstScenario3"/>
      <class name="testngDemo.FirstScenario8"/>
      <class name="testngDemo.FirstScenario9"/>
      <class name="testngDemo.FirstScenario6"/>
      <class name="testngDemo.FirstScenario7"/>
      
    
      <class name="org.xyz.automation.project.HandleKBMouse_WinAlertFrames"/>
     
      <class name="testngDemo.FirstScenario10"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
